{% extends 'humorge/layout.html' %}

{% block main %}
<div class="container">
  <div class="post">
    <div class="post-head">
      <div class="post-title">
        <h3><strong>{{ data.title }}</strong></h3>
      </div>
      <div class="post-img-author-date">
        {% if data.author.profile.image.url %}
        <span><img src="{{ data.author.profile.image.url }}" alt="프로필이미지"></span>
        {% endif %}
        <span>{{ data.author }}</span> <span>{{ data.date }}</span>
      </div>
    </div>
    <div class="post-body">
      <div class="content">
        <br>{{ data.content }}
      </div>
    </div>
    {% if user.is_authenticated and user == data.author %}
    <div class="mod" style="display:inline">
      <a href="{% url 'humorge:free_post_mod' pk=data.pk %}" class='btn right-align'>수정</a><br>
      <a href="{% url 'humorge:free_post_remove' pk=data.pk %}" class='btn right-align'>삭제</a><br>
    </div>
    {% endif %}
    <br><hr>
    <div class="post-comments">
      <div class="comments">
        {% for comment in data.free_comments.all %}
          <br><p><strong>{{ comment.author }}</strong></p>
          <p>{{ comment.content }}</p>
          <p>{{ comment.date }}</p><br>
        {% empty %}
          <br><p>no comments here yet</p>
        {% endfor %}
      </div>
      {% if user.is_authenticated %}
      <div class="write-comment">
        {% block comments %}
        {% include "humorge/free_comment.html" %}
        {% endblock %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% if user.is_authenticated %}
  <div class="fixed-action-btn">
    <a href="{% url 'humorge:free_post' %}" class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
  </div>
{% endif %}
{% endblock %}
