{% extends 'humorge/layout.html' %}

{% block main %}
<div class="container">
  <h2 style="margin-top:30px">자유게</h2>
  <table class="highlight" style="margin-top:30px">
    <thead>
      <tr>
        <th>제목</th>
        <th>글쓴이</th>
        <th>날짜</th>
      </tr>
    </thead>
    <tbody>
      {% for data in datas %}
      <tr>
        {% if data.title|length <= 15 %}
        <td><a href="{% url 'humorge:freepostdetail' pk=data.pk %}">{{ data.title }}</td>
        {% else %}
        <td><a href="{% url 'humorge:freepostdetail' pk=data.pk %}">{{ data.title|truncatechars:20 }}</td>
        {% endif%}
        {% if data.nickname %}
          <td>{{ data.nickname }}</td>
        {% else %}
          <td>{{ data.author }}</td>
        {% endif %}
        <td>{{ data.date }}</td>
      </tr>
      {% empty %}
        <tr>
          <td>게시글이 없습니다.</td>
          <td></td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% if user.is_authenticated %}
  <div class="fixed-action-btn">
    <a href="{% url 'humorge:free_post' %}" class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
  </div>
{% endif %}
<div class="container" style="padding-top:30px">
  <ul class="pagination" style="text-align:center">
    {% if datas.has_previous %}
      <li class="waves-effect"><a href="?page=1"><i class="material-icons">fast_rewind</i></a></li>
      <li class="waves-effect"><a href="?page={{ datas.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    {% for num in datas.paginator.page_range %}
      {% if datas.number == num %}
        <li class="disabled"><a href="?page={{ num }}">{{ num }}</a></li>
      {% elif num > datas.number|add:'-3' and num < datas.number|add:'3' %}
        <li class="waves-effect"><a href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}
    {% if datas.has_next %}
      <li class="waves-effect"><a href="?page={{ datas.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
      <li class="waves-effect"><a href="?page={{ datas.paginator.num_pages}}"><i class="material-icons">fast_forward</i></a>/</li>
    {% endif %}
  </ul>
  <form class="form" action="{% url 'humorge:free_search' %}" method="GET">
    <input name="q" type="text" placeholder="Search" value="{{ request.GET.q }}">
    <input class="btn" type="submit" value="검색">
  </form>
</div>
{% endblock %}
