{% block header %}
<nav class="nav-extended">
  <div class="nav-wrapper">
    {% load static %}
    <a href="{% url 'humorge:mainpage' %}" class="brand-logo" style="width:245px"><img src="{% static 'media/img/logo.png' %}" alt="로고" style="height:50px">유우머게시판</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="{% url 'humorge:freeboard' %}">자유게</a></li>
      <li><a href="{% url 'humorge:humorboard' %}">유머게</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'users:myinfo' %}">{{user.username}}</a></li>
      <li><a href="{% url 'users:logout' %}">로그아웃</a></li>
      {% else %}
      <li><a href="{% url 'users:register' %}">회원가입</a></li>
      <li><a href="{% url 'users:login' %}">로그인</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<ul id="mobile-demo" class="sidenav">
  <li><a href="{% url 'humorge:freeboard' %}">자유게</a></li>
  <li><a href="{% url 'humorge:humorboard' %}">유머게</a></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'users:myinfo' %}">{{user.username}}</a></li>
  <li><a href="{% url 'users:logout' %}">로그아웃</a></li>
  {% else %}
  <li><a href="{% url 'users:register' %}">회원가입</a></li>
  <li><a href="{% url 'users:login' %}">로그인</a></li>
  {% endif %}
</ul>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>
{% endblock %}
