{% block header %}
<header class="page-header">
  <nav>
    <div class="nav-wrapper">
      <a href="{% url 'humorge:mainpage' %}" class="brand-logo"><img src="./logo.png" alt="로고">Logo</a>
      <ul class="right">
        <li><a href="{% url 'humorge:freeboard' %}">자유게</a></li>
        <li><a href="{% url 'humorge:humorboard' %}">유머게</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'humorge:myinfo' %}">{{user.username}}</a></li>
        <li><a href="{% url 'humorge:logout' %}">로그아웃</a></li>
        {% else %}
        <li><a href="{% url 'humorge:register' %}">로그인/회원가입</a></li>
        <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1">로그인</a></li>
        <div id="modal1" class="modal">
          <div class="modal-content">

          </div>
        </div>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
{% endblock %}
