{% block header %}
<header class="page-header">
  <nav>
    <div class="nav-wrapper" style="display:inline">
      {% load static %}
      <span class='show-on-small'><a href="#"><i class="material-icons">dehaze</i></a></span>
      <span><a href="{% url 'humorge:mainpage' %}" class="brand-logo"><img src="{% static 'media/img/logo.png' %}" alt="로고" style="height:60px">유우머게시판</a></span>
      <span class='hide-on-small-only'>
        <ul id="nav-mobile" class="right">
          <li><a href="{% url 'humorge:freeboard' %}">자유게</a></li>
          <li><a href="{% url 'humorge:humorboard' %}">유머게</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'users:myinfo' pk=user.pk %}">{{user.username}}</a></li>
          <li><a href="{% url 'users:logout' %}">로그아웃</a></li>
          {% else %}
          <li><a href="{% url 'users:register' %}">회원가입</a></li>
          <li><a href="{% url 'users:login' %}">로그인</a></li>
          {% endif %}
        </ul>
      </span>
    </div>
  </nav>
</header>
{% endblock %}
