{% extends 'humorge/layout.html' %}

{% block main %}
<div class="container">
  <h2 style="margin-top:30px">내정보</h2>
  <div class="myinfo_id">
    <br>
    <p><strong>아이디</strong> {{ datas.username }}</p>
  </div>
  <div class="myinfo_nickname">
    <br>
    <p><strong>닉네임</strong> {{ datas.nickname }}</p>
  </div>
  <div class="myinfo_email">
    <br>
    <p><strong>이메일</strong> {{ datas.email }}</p>
  </div>
  <div class="image">
    <br>
    <img src="{{ datas.profile.image.url }}" alt="프로필이미지">
  </div>
</div>
{% endblock %}
