* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

footer {
  margin:auto;
  clear:both;
  padding-bottom:20px;
  color:white;
  background-color: #ee6e73;
}

.main {display:flex; justify-content: center;}

.post-head {
  border-bottom: 1;
  border-style: solid;
}

.post-body {
  border-bottom: 1;
  border-style: solid;
}

.comment-post {
  border: 1;
}
