* {
  margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

footer {
  margin:auto;
  clear:both;
  padding-bottom:20px;
  color:white;
  background-color: #ee6e73;
}

.main {
  display:flex;
  justify-content: center;
}

.update_info {
  border-style: solid;
  border-top-width: medium;
}
