{% extends 'humorge/layout.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container">
  <h2 style="margin-top:30px">내정보</h2>
  <div class="myinfo_id">
    <br>
    <p><strong>아이디</strong> {{ datas.username }}</p>
  </div>
  <div class="myinfo_email">
    <br>
    <p><strong>이메일</strong> {{ datas.email }}</p>
  </div>
  <div class="image">
    <br>
    <img src="{{ datas.profile.image.url }}" alt="프로필이미지">
  </div>
  {% if user.is_authenticated and user.username == datas.username %}
  <div class="update_info">
    <br>
    <form method="POST" enctype="multipart/form-data">
      <br>
      {% csrf_token %}
      <h2>정보변경</h2>
      <br>{{ update|crispy }}
      <br>{{ img|crispy }}
      <br><button type="submit" class="btn">수정</button>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
