<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>유우머 게시판</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      * {padding:0; margin:0}
      footer {margin:auto; clear:both; padding-bottom:20px;}
      .main {display:flex; justify-content: center;}
    </style>
  </head>
  <body>
    <div class="container" style="color:black">
      <p>패스워드 변경 요청 이메일이 발송되었습니다.</p>
      <p>메일함을 확인해주세요.</p>
    </div>
  </body>
</html>
